
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}


.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  padding: 24px;
  margin: auto;
  background: #d2f5ff;
}
