.about {
  background-color: #5D6586;
  margin-top: -12px;
}

.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--max-width-page);
  height: 700px;
  margin: auto;
  line-height: 40px;
  color: var(--white-pallete);
  font-size: 1.5em;
  width: 40%;
  text-align: center;
}

#wave__before-about,
#wave__after-about {
  margin-top: -12px;
}

@media screen and (max-width: 992px) {
  .about__container {
    width: 90%;
    height: 520px;
  }
}