.about {
  padding-top: 100px;
}

.about-container {
  background-color: var(--secondary-pallete);
  margin-top: -12px;
}

.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--max-width-page);
  margin: auto;
  padding: 32px 0;
  line-height: 40px;
  color: var(--white-pallete);
  font-size: 1.5em;
  width: 40%;
  text-align: center;
}

.about__skewed-before {
  margin-top: -100px;
}

.about__skewed-after {
  margin-top: -2px;
}

@media screen and (max-width: 992px) {
  .about__skewed-before {
    margin-top: -200px;
  }

  .about__container {
    width: 90%;
    height: 520px;
  }
}