.profile-header {
  background: var(--white-pallete);
}

.profile-header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--max-width-page);
  width: 80%;
  height: 600px;
  margin: auto;
  color: var(--primary-pallete);
  font-size: 2em;
}

.profile-header__hero {
  flex: 600px;
}

.profile-header__image {
  flex: 400px;
}

.profile-header__name {
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  margin: 0;
}

.profile-header__role {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

.profile-header__tech-list {
  display: flex;
  margin: 10px 0;
  font-size: 10px;
  gap: 12px;
  cursor: default;
}

.profile-header__tech-list .tech-item {
  padding: 4px 6px;
  border-radius: 6px;
}

.react {
  animation-delay: 0.6s;
  background-color: #6cd0fa;
}

.next {
  animation-delay: 0.7s;
  background-color: #000;
  color: white;
}

.node {
  animation-delay: 0.8s;
  background-color: #86cb6a;
}

.mongo {
  animation-delay: 1s;
  background-color: #86cb6a;
}

.mysql {
  animation-delay: 1.1s;
  background-color: #5275de;
  color: white;
}

.aws {
  animation-delay: 1.2s;
  background-color: #c0c0c0;
}

@media screen and (max-width: 992px) {
  .profile-header {
    padding: 40px 0 0;
  }
  
  .profile-header__container {
    flex-direction: column-reverse;
    align-items: start;
  }
  
  .profile-header__hero {
    flex: 0;
  }

  .profile-header__image {
    flex: 0;
    margin: 16px;
  }

  .profile-image {
    width: 85px;
    height: 110px;
  }
}
